{% extends "base.html" %}

{% block content %}
<main class="page-content" aria-label="Content">
  <div class="w">
    {% if article.prev_article %}
      <a href="{{ SITEURL }}/{{ article.prev_article.url }}">&lt;</a>
    {% else %}
      &nbsp;
    {% endif %}

    <a href="{{ SITEURL }}/">^</a>

    {% if article.next_article %}
      <a href="{{ SITEURL }}/{{ article.next_article.url }}">&gt;</a>
    {% endif %}
  </div>

  <div class="box">
    <h1>{{ article.title }}</h1>
    {{ article.content }}
  </div>
</main>
{% endblock %}
